html {
    background: linear-gradient(lightblue, lightcoral);
    background-repeat: no-repeat;
}

.gameManager {
    display: flex;
    height: 952px;
    align-items: center;
    justify-content: center;
}

.gameManager table {
    background-color: white;
}

.gameManager td {
    width: 90px;
    height: 90px;
    border:3px solid black;
    background-color: purple;
    cursor: pointer;
}